.error-msg {
	color: red;
}

span.error-msg {
  font-size: 14px;
  font-weight: 600;
}

.glowing-border {
    border-color: red;
	border: 2px solid red;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.glowing-border:focus {
    border-color: #843534;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

.collateral-form {
	width: 815px !important;
}
#docContainer{
	font-family: Arial, sans-serif;
}
#docContainer h2 {
    font-size: 20px;
    font-weight: bold;
    padding-top: 0px;
    color: #333;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#docContainer h3 {
	display: inline;
	font-size: 18px;
    font-weight: bold;
    padding-top: 0px;
    color: #333;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#docContainer h5, #docContainer label {
	display: inline;
	font-size: 12px;
    font-weight: bold;
    padding-top: 0px;
    color: #333;
    text-shadow: 0 1px 0 rgba(0,0,0,0.1);
}

#docContainer .thumb {
	width: 15%;
}

#docContainer .no-margin-bottom {
	margin-bottom: 0px;
}

.message-text.sub {
	font-size: 14px;
	text-indent: 1em;
}

.banner1 { background-image: url(resources/banner1.jpg); }
.banner2 { background-image: url(resources/banner2.jpg); }
.banner3 { background-image: url(resources/banner3.jpg); }
.banner4 { background-image: url(resources/banner4.jpg); }
.banner5 { background-image: url(resources/banner5.jpg); }
.banner6 { background-image: url(resources/banner6.jpg); }
.banner7 { background-image: url(resources/banner7.jpg); }
.banner8 { background-image: url(resources/banner8.jpg); }
.banner9 { background-image: url(resources/banner9.jpg); }
.banner10 { background-image: url(resources/banner10.jpg); }
.collateral-form {
  width: 955px;
  background-color: rgb(246,246,246);
}

.mdf-go-to-collateral {
  font-size: 13px;
  width: 15em;
  height: 4em;
  margin: 6px 0 -1em 0;
  background-color: #106CA8;
  padding: 6px;
  text-align: center;
  border-radius: 11px;
  cursor: pointer;
}

.mdf-go-to-collateral a {
  text-transform: uppercase;
  line-height: 2px;
  color: #FFF;
  font-weight: 600;
  text-decoration: none;

}

.popup-img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.75);
}

.popup-img.full-height {
  height: 600%;
  z-index: 10;
}

.popup-img.full-height img {
  position: fixed;
  top: 25%;
  left: 20%;
  max-height: 90%;
  width: 40%;
  border: 0;
    box-shadow: none;

}

.popup-img img {
  position: fixed;
    top: 4em;
    margin-left: 10em;
    border: solid 3px #000;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  max-height: 90%;
}

ul.additional-items-signage li {
  list-style: none;
}